.main {
    position: relative;
    width: 100%;
}

.navbar {
    width: 80%;
    margin: auto;
    position: absolute;
    height: 90px;
} 

.nav-item {
    color: white;
}

.forward {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main1{
    background-color: black;
}

.search {
    display: flex;
}

.main2{
    background-color: rgb(22, 21, 21);
}

.d-block {
    width: 120px;
    height: 120px;
}

.a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 5%;
}

.caro {
height: 150px;
  position: relative;
  top: 30px;
}

.poster{
    background-color:rgb(22, 21, 21) ;
    margin-bottom: 60px;
    margin-top: 30px;
}
.ps{
    background-color: rgb(22, 21, 21);
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.pss{
    border-radius: 10px;
    position: relative;
}
.tp{
    width: 85%;
    margin: auto  ;
    color: white;
}

.pss3{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tp1{
    width: 85%;
    margin: auto;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.tp2{
    width: 85%;
    margin: auto;
    color: white;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.l1{
    border-radius: 10PX;
}

.ps6{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.tp3{
    width: 85%;
    margin: auto;
    color: white;
}

.grid2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 60px;
}

.tp4{

    width: 85%;
    margin: auto;
    color: white;
}

.ps9{
    width: 85%;
    margin: auto;
}
.ps8{
    margin-bottom: 50px;
}
.cs1{
    margin-bottom: 60px;
}

.tp5{

    width: 85%;
    margin: auto;
    color: white;
}

.pp{
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 60px;
}

.tp6{

    width: 85%;
    margin: auto;
    color: white;
}

.ps13{
    width: 85%;
    margin: auto;
}

.ps14{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin-top: 25px;
    margin-bottom: 10px;
}

.ps15{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.tp7{

    width: 85%;
    margin: auto;
    color: white;
}

.r1{
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}