nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    
  }
  
  nav a {
    transition: 0.3s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
  }
  nav a:hover {
    border-top: 4px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(114, 114, 114);
    padding: 1px 0; 
  }
.main{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 5%;
    
}
li{
    margin-left: 20%;
    margin-right: -15%;
}
.btn{
    background-color: rgb(14, 89, 92);
    color: white;
}
.main1{
    margin-left: 25%;
    margin-top: 10%;
    justify-self: center;
}
body{
    margin-left: 1%;
}
h1{
    font-size: 60px;
}
.sh{
    margin-left: 22%;
    margin-bottom: 2%;
}
h4{
    color: rgb(102, 102, 102);
    justify-items: center;
    margin-left: 12%;
}
.po{
    margin-left: 15%;
    margin-bottom: 4%;
}
.btn1{
    margin-left: 26%;
    border-radius:5px;
    padding: 10px;
    margin-bottom: 4%;
}
.img2{
    width: 100%;
    height: 15%;
}
.hw{
    margin-left: 45%;
    margin-top: 2%;
}
.ph{
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    font-size: 50px;
    
  
}
.oo{
        font-family: "Caesar Dressing", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        height: 20px;
    
}
.pt{
    margin-left: 35%;
}
h6{
    font-size: 18px;
}
.bx1{
     margin-left: 25%;
}
.bx2{
    margin-top: 90%;
    margin-left: -70%;
    margin-right: 30%;
    width: 100%;
    padding: 5px;
}
.bx3{
    margin-left: -10%;
}
.bx4{
    margin-top: 62%;
    margin-left: -65%;
    margin-right: 30%;
    width: 70%;
    padding: 5px;    

}
.bx5{
    margin-left:-20%;
    margin-top: -1%;
}
.bx6{
    margin-top: 68%;
    margin-left: -69%;
    width: 70%;
    padding: 5px;
}
.bk{
    background-color: rgb(230, 230, 230);
    margin-top: 4%;
}
.m2{
    margin-left: 37%;
    margin-bottom: 20%;
}

.row{
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
    height: 30%;
}
.col{
    background-color: white;
    width: 5%;
    border-radius: 5%;
    height: 40%;
}
.col6{
    background-color: white;
    width: 20%;
    border-radius: 5%;
}
.tt{
    text-align: center;

}
.ct{
    margin-top: 8%;
}
.btn3{
    margin-top:3%;
    padding: 15px;
    border-radius: 5px;
    margin-left: 3%;
  margin-bottom: 4%;
}
.bk1{
    margin-top: 4%;
}
.i1{
    margin-left: -140%;
    margin-top:15%;
}
.b1{
    margin-top: -35%;
}
.col{
    width: 100%;
}