.topnav {
    display: flex;
    width: 100%;
    padding-left: 290px;
}

.search {
    width: 210%;
    display: flex;
    align-items: center;
    padding: 6px;
    background: white;
    border: 1px;
    margin-top: 5%;
    margin-left: 5%;
    border: 0.5px solid #333333;
    border-radius: 5px;

}

.search-input {
    display: flex;
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 90%;
}

.location {
    margin-left: 780px;
    display: inline;
}

.arrow {
    margin-top: 22%;
}

.signup {
    margin-top: 1.0%;
    margin-left: 2%;
}

.btn1 {
    background-color: rgb(238, 76, 76);
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.menu {
    margin-top: 1.3%;
    margin-left: 2%;

}


.secnav {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(121, 115, 115);

}

.navitem {
    position: relative;
    list-style-type: none;
    left: 248px;
    display: flex;


}

ul.navitem li {
    display: inline;
}

.navitem li a {
    display: inline;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    color: black;
}

.navitem1 {
    position: relative;
    list-style-type: none;
    right: 234px;
}

ul.navitem1 li {
    display: inline;
}

.navitem1 li a {
    display: inline;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    color: black;
}

.carousel-container {
    background-color: whitesmoke;
    max-width: 100%;
    height: 300px;
    margin-top: 10px;
    position: relative;
    overflow-x: hidden;

}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: whitesmoke;
}

/* 
.carousel-items{
position: relative;
border-radius: 5px;
width: 100%;
height: 100%;
} */

.carousel-inner {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
    width: 200%;
    height: 100%;
    transition: 1s;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

}

.carousel-item img {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    color: black;
    opacity: 0.9;
    padding-left: 290px;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}

.movie-list {
    width: 95%;
    height: 500px;
    position: relative;
    padding-left: 290px;
    background-color: whitesmoke;
}

.card-container {
    position: relative;
    width: 95%;
    padding-left: 290px;
    height: 480px;
    display: flex;
    scroll-behavior: smooth;
    border: none;
}

.movie {
    position: relative;
    width: 100%;
}

.card {
    position: relative;
    width: 225px;
    height: 370px;
    border-radius: 50px;

}

.card-body {
    width: 100%;
    height: 35px;
    position: absolute;
    background: #000;
    padding: 10px;
    display: flex;
}

.card-body p {
    color: #fff;
    position: absolute;
    font-size: 16px;
    padding-left: 30px;
    top: 7px;
}

.movie h3 {
    padding-top: 10px;
    font-size: 18px;
}

.strip {
    padding-left: 290px;
    height: 10px;
    padding-top: 50px;

}

.title-enter {
    color: black;
    opacity: 0.9;
    padding-left: 290px;
    padding-top: 200px;
    font-size: 22px;
    font-weight: 600;
}

.enter-list {
    width: 100%;
    height: 250px;
    position: relative;
    padding-top: 0;
    padding-left: 290px;
    padding-top: 15px;
}

.enter-container {
    position: relative;
    width: 100%;
    padding-left: 10px;
    height: 250px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.enter-container .card {
    position: relative;
    min-width: 225px;
    width: 225px;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 40px;
}

.title-enter1 {
    color: black;
    opacity: 0.9;
    padding-top: 50px;
    font-size: 22px;
    font-weight: 600;
}

.studio {
    width: 100%;
    height: 500px;
    position: relative;
    padding-left: 290px;
    padding-top: 120px;
}

.music-list {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;

}

.music-list .card {
    position: relative;
    border-radius: 10px;
    margin-right: 150px;
    width: 225px;
    height: 370px;
}

.music-name {
    position: relative;


}

.music-name h3 {
    width: 230px;
    padding-top: 10px;
    font-size: 18px
}

.venue {
    width: 220px;
}

.title-enter2 {
    color: black;
    opacity: 0.9;
    padding-top: 50px;
    font-size: 22px;
    font-weight: 600;
}

.outdoor-event {
    width: 100%;
    height: 500px;
    position: relative;
    padding-left: 290px;
    padding-top: 260px;
}

.outdoor-list {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;
}

.outdoor-list .card {
    position: relative;
    border-radius: 10px;
    margin-right: 150px;
    width: 225px;
    height: 370px;
}

.outdoor-name h3 {
    width: 230px;
    padding-top: 10px;
    font-size: 18px
}

.footer {
    background-color: rgb(8, 8, 8);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 250px;
    color: #fff;
}

.footer-detail {
    width: 100%;
    height: 100%;
    padding-left: 290px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hut {
    display: inline;

}

.lt {
    display: inline;
}

.footer-detail h1 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 10px;

}

.footer-detail p {
    padding-left: 25px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.btn2 {
    background-color: rgb(238, 76, 76);
    color: #fff;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 250px;
}

.footer1 {
    background-color: rgb(39, 37, 37);
    height: 10%;
    padding-bottom: 10px;
    padding-top: 10px;

}

.footer-support {
    display: flex;
    padding-left: 310px;

}

.cust-icon {
    width: 100%;
    height: 50%;
    display: inline;
    color: #fff;
    font-size: small;

}

.cust-icon p {
    width: 100%;
    position: relative;
    height: 100%;
    margin-left: -6.5%;
}

.footer2 {
    background-color: rgb(8, 8, 8);
    opacity: 0.9;

}

.info {
    padding-left: 290px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.info h4 {
    color: rgb(126, 126, 126);
    font-size: 16px;
}

.info p {
    color: rgb(126, 126, 126);
    font-size: 14px;
}


.bms {
    color: rgb(8, 8, 8);
    opacity: 0.9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 125px;
}

.line{
    border-top: 2px solid white;
    margin-top: 3%;
    height: 2px;
    background-color: rgb(8,8,8);
    opacity: 0.9;
}

.ss{
    background-color: rgb(8,8,8);
    opacity: 0.9;
}