.topnav {
    display: flex;
    width: 100%;
    margin-left: 16%;
}

.search {
    width: 210%;
    display: flex;
    align-items: center;
    padding: 6px;
    background: white;
    border: 1px;
    margin-top: 5%;
    margin-left: 5%;
    border: 0.5px solid #333333;
    border-radius: 5px;

}

.search-input {
    display: flex;
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 90%;
}

.location {
    margin-left: 38%;
    display: inline;
}

.arrow {
    margin-top: 2%;
}

.signup {
    margin-top: 1.4%;
    margin-left: 2%;
}

.btn1 {
    background-color: rgb(238, 76, 76);
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.menu {
    margin-top: 1.5%;
    margin-left: 2%;
}

.line{
    display: flex;
}